# folders to ignore
node_modules

# parcel
/dist
.parcel-cache

# local files for dev purposes
ignore.*

# singular files to ignore
token.json
emailCredentials.json
emailToken.json
sheetsCredentials.json
sheetsToken.json
config.ts