# folders to ignore
node_modules

# parcel
/dist
.parcel-cache

# file types to ignore (for the audio functionality)
*.mp4
*.mp3
*.ogg
*.webm
*.m4a
*.opus

# local files for dev purposes
ignore.*

# singular files to ignore
token.json
emailCredentials.json
emailToken.json
sheetsCredentials.json
sheetsToken.json
config.ts